Repository surfliner/surfliner-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lark-code-quality, starlight-code-quality, starlight-dependency-scanning, lark-dependency-scanning, lark-ruby-build, lark-lint, lark-unit-tests, starlight-build, starlight-lint, starlight-test

Path conditions:
  lark-code-quality: any of: lark/**/*
  starlight-code-quality: any of: starlight/**/*
  starlight-dependency-scanning: any of: starlight/**/*
  lark-dependency-scanning: any of: lark/**/*
  lark-ruby-build: any of: .gitlab-ci.yml, lark/Dockerfile
  lark-lint: any of: .gitlab-ci.yml, .styles/**/*, lark/**/*
  lark-unit-tests: any of: .gitlab-ci.yml, Dockerfile, lark/**/*
  starlight-build: any of: .gitlab-ci.yml, starlight/Dockerfile
  starlight-lint: any of: .gitlab-ci.yml, .styles/**/*, starlight/**/*
  starlight-test: any of: .gitlab-ci.yml, Dockerfile, starlight/**/*

Remove hardcoded remote user, obsolete role
  ansible/spotlight.yml
Due: none

ansible: fix sidekiq service for Capistrano
  ansible/roles/starlight/templates/sidekiq-production.service.j2
  ansible/roles/starlight/templates/sudoers-sidekiq.j2
Due: none

starlight: Roll shibboleth.yml into spotlight.yml
  ansible/spotlight.yml
Due: none

ansible: templatize inventory file
  ansible/.gitignore
  ansible/inventory
  ansible/inventory.template
Due: none

ansible: remove reference to nonexistent starlight role
  ansible/spotlight.yml
Due: none

ansible: ensure EPEL yum repo is enabled
  ansible/roles/apache/tasks/prerequisites.yml
  ansible/roles/solr/tasks/prerequisites.yml
Due: none

starlight: Require Shibboleth for auth callback
  ansible/roles/spotlight/templates/vhost.conf.j2
Due: none

ansible: remove shibboleth.yml
  ansible/shibboleth.yml
Due: none

ansible: add PROJECT_PATH to env vars
  ansible/roles/environment-variables/templates/vars.sh.j2
Due: none

ansible: rename shibboleth metadata role
  ansible/roles/shibboleth-metadata/tasks/main.yml
  ansible/spotlight.yml
Due: none

starlight: add shibboleth-sso role
  ansible/roles/shibboleth-sso/tasks/main.yml
Due: none

ansible: make sure Solr uses schema.xml
  ansible/roles/solr/files/solrconfig.xml
Due: none

ansible: add template shibboleth playbook
  ansible/shibboleth.yml
Due: none

ansible: move httpd vhost configuration to spotlight role
  ansible/roles/apache/tasks/configuration.yml
  ansible/roles/spotlight/tasks/rails.yml
  ansible/roles/spotlight/templates/vhost.conf.j2
Due: none

Install nodejs RPM
  ansible/roles/spotlight/defaults/main.yml
  ansible/roles/spotlight/tasks/prerequisites.yml
Due: none

starlight: Re-roder role calls
  ansible/shibboleth.yml
Due: none

ansible: add sudoers config to allow Capistrano to restart Sidekiq
  ansible/roles/starlight/tasks/sidekiq.yml
  ansible/roles/starlight/templates/sudoers-sidekiq.j2
Due: none

ansible: open ports with firewalld
  ansible/roles/apache/tasks/apache_firewall.yml
  ansible/roles/apache/tasks/main.yml
  ansible/roles/solr/tasks/main.yml
  ansible/roles/solr/tasks/solr_firewall.yml
Due: none

ansible: ignore proxy for local connections
  ansible/spotlight.yml
Due: none

ansible: remove vaultfile, ignore site-specific vars directory
  ansible/.gitignore
  ansible/vault/spotlight.yml
Due: none

Force Shibboleth to respond to http
  ansible/spotlight.yml
Due: none

ansible: ensure correct ownership on project root
  ansible/roles/spotlight/tasks/rails.yml
Due: none

ansible: all-in-one starlight+shibboleth
  ansible/roles/apache/tasks/configuration.yml
  ansible/roles/apache/tasks/main.yml
  ansible/roles/apache/tasks/prerequisites.yml
  ansible/roles/apache/templates/vhost.conf.j2
  ansible/roles/metadata/tasks/main.yml
  ansible/roles/nginx-passenger/files/nginx.service
  ansible/roles/nginx-passenger/tasks/passenger.yml
  ansible/roles/nginx-passenger/tasks/prerequisites.yml
  ansible/roles/passenger/defaults/main.yml
  ansible/roles/passenger/tasks/main.yml
  ansible/roles/requirements.yml
  ansible/roles/spotlight/defaults/main.yml
  ansible/roles/spotlight/tasks/rails.yml
  ansible/roles/spotlight/templates/nginx.conf.j2
  ansible/roles/spotlight/templates/secrets.yml.j2
  ansible/roles/starlight/defaults/main.yml
  ansible/roles/starlight/tasks/main.yml
  ansible/roles/starlight/tasks/secrets.yml
  ansible/roles/starlight/templates/secrets.yml.j2
  ansible/spotlight.yml
Due: none

ansible: Dowgrade to Ansible 2.2.0.0 Compatibility
  ansible/roles/cscfi.shibboleth-sp/.travis.yml
  ansible/roles/cscfi.shibboleth-sp/defaults/main.yml
  ansible/roles/cscfi.shibboleth-sp/handlers/main.yml
  ansible/roles/cscfi.shibboleth-sp/meta/.galaxy_install_info
  ansible/roles/cscfi.shibboleth-sp/tasks/shibbolethsp_certs.yml
  ansible/roles/cscfi.shibboleth-sp/tasks/shibbolethsp_certsownership.yml
  ansible/roles/cscfi.shibboleth-sp/tests/dockerfile.centos
  ansible/roles/cscfi.shibboleth-sp/tests/dockerfile.debian
  ansible/roles/cscfi.shibboleth-sp/tests/requirements.yml
  ansible/roles/cscfi.shibboleth-sp/tests/test.yml
  ansible/roles/cscfi.shibboleth-sp/vars/Debian.yml
  ansible/roles/cscfi.shibboleth-sp/vars/RedHat.yml
  ansible/roles/requirements.yml
  ansible/roles/spotlight/tasks/prerequisites.yml
  ansible/spotlight.yml
Due: none

ansible: replace /opt with project_base
  ansible/spotlight.yml
Due: none

ansible: escape characters in db password
  ansible/roles/environment-variables/templates/vars.sh.j2
Due: none

starlight: don't use systemd for Sidekiq
  ansible/roles/spotlight/tasks/prerequisites.yml
  ansible/roles/starlight/defaults/main.yml
  ansible/roles/starlight/tasks/main.yml
  ansible/roles/starlight/tasks/sidekiq.yml
  ansible/roles/starlight/templates/sidekiq-production.service.j2
  ansible/roles/starlight/templates/sudoers-sidekiq.j2
  starlight/Gemfile
  starlight/Gemfile.lock
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

ansible: Add cscfi.shibboleth-sp v1.0.7 role
  ansible/roles/cscfi.shibboleth-sp/.travis.yml
  ansible/roles/cscfi.shibboleth-sp/README.md
  ansible/roles/cscfi.shibboleth-sp/defaults/main.yml
  ansible/roles/cscfi.shibboleth-sp/handlers/main.yml
  ansible/roles/cscfi.shibboleth-sp/meta/.galaxy_install_info
  ansible/roles/cscfi.shibboleth-sp/meta/main.yml
  ansible/roles/cscfi.shibboleth-sp/tasks/main.yml
  ansible/roles/cscfi.shibboleth-sp/tasks/shibbolethsp_certs.yml
  ansible/roles/cscfi.shibboleth-sp/tasks/shibbolethsp_certsownership.yml
  ansible/roles/cscfi.shibboleth-sp/tasks/shibbolethsp_haka.yml
  ansible/roles/cscfi.shibboleth-sp/tasks/shibbolethsp_hakatest.yml
  ansible/roles/cscfi.shibboleth-sp/tasks/shibbolethsp_virtu.yml
  ansible/roles/cscfi.shibboleth-sp/tasks/shibbolethsp_virtutest.yml
  ansible/roles/cscfi.shibboleth-sp/templates/attribute-map.xml
  ansible/roles/cscfi.shibboleth-sp/tests/dockerfile.centos
  ansible/roles/cscfi.shibboleth-sp/tests/dockerfile.debian
  ansible/roles/cscfi.shibboleth-sp/tests/inventory
  ansible/roles/cscfi.shibboleth-sp/tests/requirements.yml
  ansible/roles/cscfi.shibboleth-sp/tests/test.yml
  ansible/roles/cscfi.shibboleth-sp/vars/Debian.yml
  ansible/roles/cscfi.shibboleth-sp/vars/RedHat.yml
Due: none

lark: Refactor schema definition into abstract `Authority`
  lark/app/models/authority.rb
  lark/app/models/concept.rb
  lark/app/models/schema/concept.rb
  lark/spec/models/authority_spec.rb
  lark/spec/models/schema/concept_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

lark: Refactor Agent to use new `Authority#define_schema`
  lark/app/models/agent.rb
  lark/app/models/schema/agent.rb
  lark/spec/models/schema/agent_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

surfliner: refactor CI to use templates
  .gitlab-ci.yml
  ci/base/prebuild.yml
  ci/lark/build.yml
  ci/lark/code-quality.yml
  ci/lark/dependency-scanning.yml
  ci/lark/lint.yml
  ci/lark/staging.yml
  ci/lark/test.yml
  ci/starlight/build.yml
  ci/starlight/code-quality.yml
  ci/starlight/dependency-scanning.yml
  ci/starlight/lint.yml
  ci/starlight/test.yml
Due: lark-ruby-build, lark-lint, lark-unit-tests, starlight-build, starlight-lint, starlight-test

Update README.md to include public standup cancelation notice due to SVC2019
  README.md
Due: none

Add solr connection healthcheck
  .styles/rubocop_rspec_surfliner.yml
  lark/Gemfile
  lark/Gemfile.lock
  lark/config/environment.rb
  lark/config/initializers/healthchecks.rb
  lark/config/initializers/healthchecks_complete.rb
  lark/lib/lark/health_checks/solr_connection.rb
  lark/spec/api/health_check_endpoint_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests, starlight-lint

Persist event log with postgresql and Add valkyrie-sequel.
  lark/.env
  lark/Gemfile
  lark/Gemfile.lock
  lark/Rakefile
  lark/config.ru
  lark/config/database.rb
  lark/config/environment.rb
  lark/db/migrations/001_create_orm_resources.rb
  lark/db/migrations/002_create_events.rb
  lark/lib/lark/event_stream.rb
  lark/spec/lark/event_stream_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Setup docker with docker compose and CI for postgresql.
  lark/Dockerfile
  lark/docker/dev/docker-compose.yml
  lark/docker/test/docker-compose.yml
Due: lark-code-quality, lark-dependency-scanning, lark-ruby-build, lark-lint, lark-unit-tests

Fix failed test for invalid json.
  lark/spec/api/http_post_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Fixing the gitlab-ci integration error.
  .gitlab-ci.yml
  lark/Rakefile
Due: lark-code-quality, lark-dependency-scanning, lark-ruby-build, lark-lint, lark-unit-tests, starlight-build, starlight-lint, starlight-test

Update readme for event log with postgresql as backend.
  lark/README.md
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

surfliner: Remove git apk from `before_script`
  .gitlab-ci.yml
Due: lark-ruby-build, lark-lint, lark-unit-tests, starlight-build, starlight-lint, starlight-test

lark: Move database setup to a `lark.sh` startup script
  lark/.env
  lark/Dockerfile
  lark/bin/lark.sh
  lark/docker/test/docker-compose.yml
Due: lark-code-quality, lark-dependency-scanning, lark-ruby-build, lark-lint, lark-unit-tests
