Repository surfliner/surfliner-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lark-code-quality, starlight-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

lark-code-quality:
  stage: test
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
  - docker:stable-dind
  script:
  - setup_docker
  - cd lark
  - code_quality
  artifacts:
    reports:
      codequality: gl-code-quality-report.json

starlight-code-quality:
  stage: test
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
  - docker:stable-dind
  script:
  - setup_docker
  - cd starlight
  - code_quality
  artifacts:
    reports:
      codequality: gl-code-quality-report.json

lark-ruby-build:
  stage: build
  services:
  - name: docker:dind
  script:
  - cd lark
  - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/lark_web .
  - docker push $CI_REGISTRY_IMAGE/lark_web

lark-unit-tests:
  stage: test
  image: $CI_REGISTRY_IMAGE/lark_web
  script:
  - gem update bundler
  - cd lark && bundle && bundle exec rspec

starlight-build:
  stage: build
  services:
  - name: docker:dind
  script:
  - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
  - cd starlight
  - docker build -t $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA

starlight-test:
  image: $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA
  stage: test
  services:
  - name: solr:7.1-alpine
    alias: solr
    entrypoint:
    - docker-entrypoint.sh
    - solr-precreate
    - starlight-test
    - /opt/config
  script:
  - cd starlight && bundle exec rspec
  allow_failure: true

rbenv: return ownership to root
  ansible/spotlight.yml
Due: none

update solr configs
  ansible/roles/solr/files/schema.xml
  ansible/roles/solr/files/solrconfig.xml
Due: none

install customized nginx configuration
  ansible/roles/nginx-passenger/tasks/passenger.yml
  ansible/roles/solr/defaults/main.yml
  ansible/roles/spotlight/tasks/rails.yml
  ansible/roles/spotlight/templates/nginx.conf.j2
  ansible/spotlight.yml
Due: none

lark: Add pub/sub to the EventStream
  lark/Gemfile
  lark/Gemfile.lock
  lark/lib/lark.rb
  lark/lib/lark/event_stream.rb
  lark/spec/factories/events.rb
  lark/spec/fakes/fake_listener.rb
  lark/spec/lark/event_stream_spec.rb
  lark/spec/lark_spec.rb
  lark/spec/spec_helper.rb
Due: lark-code-quality, lark-unit-tests

lark: Convert event names to snake case
  lark/app/controllers/record_controller.rb
  lark/lib/lark/event_stream.rb
  lark/spec/factories/events.rb
  lark/spec/lark/event_stream_spec.rb
  lark/spec/models/event_spec.rb
Due: lark-code-quality, lark-unit-tests

lark: Add an `Event` object as a valkyrie `Resource`
  lark/app/models/event.rb
  lark/spec/models/event_spec.rb
Due: lark-code-quality, lark-unit-tests

lark: Add an `EventStream` singleton
  lark/lib/lark/event_stream.rb
  lark/spec/lark/event_stream_spec.rb
Due: lark-code-quality, lark-unit-tests

lark: Append a `:Create` event to the `EventStream` when POSTing
  lark/app/controllers/record_controller.rb
  lark/app/listeners/index_listener.rb
  lark/config/environment.rb
  lark/lib/lark.rb
  lark/lib/lark/indexer.rb
  lark/spec/controllers/record_controller_spec.rb
  lark/spec/lark/indexer_spec.rb
Due: lark-code-quality, lark-unit-tests

lark: Refactor POST parsing to add a `RecordParser` abstraction
  lark/app/controllers/record_controller.rb
  lark/lib/lark/record_parser.rb
  lark/lib/lark/record_parsers/json_parser.rb
  lark/spec/controllers/record_controller_spec.rb
  lark/spec/lark/record_parser_spec.rb
  lark/spec/lark/record_parsers/json_parser_spec.rb
Due: lark-code-quality, lark-unit-tests

lark: Remove xsd:string as range from labels in concept model
  lark/model/concept.yml
Due: lark-code-quality, lark-unit-tests

lark: Add first draft of concept model
  lark/model/concept.yml
Due: lark-code-quality, lark-unit-tests

lark: Concept model formatting cleanup
  lark/model/concept.yml
Due: lark-code-quality, lark-unit-tests

lark: Style corrections (`rubocop --auto-correct`)
  lark/Gemfile
  lark/spec/lark/record_parsers/json_parser_spec.rb
Due: lark-code-quality, lark-unit-tests

surfliner: Add rubocop styleguide
  .styles/rubocop_rspec_surfliner.yml
  .styles/rubocop_surfliner.yml
Due: none

lark: Configure rubocop and add RSpec cops
  lark/.rubocop.yml
  lark/Gemfile
  lark/Gemfile.lock
  lark/app/controllers/record_controller.rb
  lark/app/listeners/index_listener.rb
  lark/app/models/concept.rb
  lark/app/models/event.rb
  lark/config.ru
  lark/config/application.rb
  lark/config/environment.rb
  lark/lib/lark.rb
  lark/lib/lark/event_stream.rb
  lark/lib/lark/indexer.rb
  lark/lib/lark/record_parser.rb
  lark/lib/lark/record_parsers/json_parser.rb
  lark/spec/api/http_get_spec.rb
  lark/spec/api/http_post_spec.rb
  lark/spec/controllers/record_controller_spec.rb
  lark/spec/factories/events.rb
  lark/spec/fakes/fake_listener.rb
  lark/spec/lark/event_stream_spec.rb
  lark/spec/lark/indexer_spec.rb
  lark/spec/lark/record_parser_spec.rb
  lark/spec/lark/record_parsers/json_parser_spec.rb
  lark/spec/lark_spec.rb
  lark/spec/models/concept_spec.rb
  lark/spec/models/event_spec.rb
  lark/spec/spec_helper.rb
Due: lark-code-quality, lark-unit-tests

surfliner: Treat `spec/system` as integration tests in Rubocop
  .styles/rubocop_rspec_surfliner.yml
Due: none

lark: Relocate `gem update bundler` to image build
  .gitlab-ci.yml
  lark/Dockerfile
Due: lark-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

lark: Add lint stage/job for RuboCop
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: build image from Alpine
  .gitlab-ci.yml
  starlight/Dockerfile
  starlight/Gemfile
Due: starlight-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: separate db create and schema loading
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

surfliner: revert change to ci.rake for local testing
  starlight/lib/tasks/ci.rake
Due: starlight-code-quality, starlight-build, starlight-test

starlight: install dependencies in CI
  .gitlab-ci.yml
  starlight/Dockerfile
Due: starlight-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: use junit formatting for rspec in CI
  .gitlab-ci.yml
  starlight/Dockerfile
Due: starlight-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: move feature specs to system specs
  starlight/Dockerfile
  starlight/docker/.env.docker.test
  starlight/spec/jobs/spotlight/add_uploads_from_csv_spec.rb
  starlight/spec/rails_helper.rb
  starlight/spec/support/capybara_selenium.rb
  starlight/spec/system/create_exhibit_spec.rb
  starlight/spec/system/pdf_display_spec.rb
  starlight/spec/system/search_spec.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: don't use debug version of selenium image
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: use sqlite in CI for now
  .gitlab-ci.yml
  starlight/Gemfile.lock
Due: starlight-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: setup starlight CI cache
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: explicitly create db for PG in test
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: upgrade to Rails 5.2
  starlight/.rubocop_todo.yml
  starlight/Gemfile
  starlight/Gemfile.lock
  starlight/bin/rails
  starlight/bin/rake
  starlight/bin/setup
  starlight/bin/update
  starlight/bin/yarn
  starlight/config/application.rb
  starlight/config/boot.rb
  starlight/config/initializers/content_security_policy.rb
  starlight/config/initializers/new_framework_defaults_5_2.rb
  starlight/config/storage.yml
Due: starlight-code-quality, starlight-build, starlight-test

starlight: have CI mirror previous Travis config
  .gitlab-ci.yml
  starlight/.gitignore
  starlight/Gemfile
  starlight/Gemfile.lock
  starlight/lib/tasks/ci.rake
Due: starlight-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: use product prefix in CI
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: fix surfliner CI artifacts
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: Dockerfile needs git
  starlight/Dockerfile
Due: starlight-code-quality, starlight-build, starlight-test

starlight: remove DatabaseCleaner
  starlight/Gemfile
  starlight/Gemfile.lock
  starlight/spec/rails_helper.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: remove travis
  starlight/.travis.yml
Due: starlight-code-quality, starlight-build, starlight-test

starlight: show rspec progress in CI also
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: install java for solr_wrapper in CI
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: copy in template files for CI testing
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: don't set app_host for capybara in CI
  starlight/spec/support/capybara_selenium.rb
Due: starlight-code-quality, starlight-build, starlight-test

lark: Replace some requires with `require_relative`
  lark/lib/lark.rb
  lark/lib/lark/record_parser.rb
Due: lark-code-quality, lark-unit-tests

Path conditions:
  lark-code-quality: any of: lark/**/*
  starlight-code-quality: any of: starlight/**/*
  lark-ruby-build: any of: .gitlab-ci.yml, lark/Dockerfile
  lark-unit-tests: any of: .gitlab-ci.yml, Dockerfile, lark/**/*
  starlight-build: any of: .gitlab-ci.yml, Dockerfile, starlight/**/*
  starlight-test: any of: .gitlab-ci.yml, Dockerfile, starlight/**/*
