Repository surfliner/surfliner-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lark-code-quality, starlight-code-quality, starlight-dependency-scanning, lark-dependency-scanning, lark-ruby-build, lark-lint, lark-unit-tests, starlight-build, starlight-lint, starlight-test

Path conditions:
  lark-code-quality: any of: lark/**/*
  starlight-code-quality: any of: starlight/**/*
  starlight-dependency-scanning: any of: starlight/**/*
  lark-dependency-scanning: any of: lark/**/*
  lark-ruby-build: any of: .gitlab-ci.yml, lark/Dockerfile
  lark-lint: any of: .gitlab-ci.yml, .styles/**/*, lark/**/*
  lark-unit-tests: any of: .gitlab-ci.yml, Dockerfile, lark/**/*
  starlight-build: any of: .gitlab-ci.yml, starlight/Dockerfile
  starlight-lint: any of: .gitlab-ci.yml, .styles/**/*, starlight/**/*
  starlight-test: any of: .gitlab-ci.yml, Dockerfile, starlight/**/*

Remove redundant info
  README.md
Due: none

Fixing typos
  lark/README.md
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

reverting back to Development as a header
  lark/README.md
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Created a surfliner documentation site.
  lark/README.md
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Update readme to fix the merge conflicts.
  lark/README.md
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

starlight: use latest riiif and spotlight
  starlight/Gemfile
  starlight/Gemfile.lock
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: remove ldap references
  starlight/README.md
  starlight/app/models/user.rb
  starlight/app/views/devise/sessions/new.html.erb
  starlight/config/initializers/devise.rb
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: replace deprecated chromedriver-helper with webdrivers
  starlight/Gemfile
  starlight/Gemfile.lock
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

created fixtures folder in lark/spec and added sample authority csv
  lark/spec/fixtures/UCSD_authority_sample_1.csv
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Lark: Fix Solr adapter ID warnings and refactor some test code to use factoryBot.
  lark/spec/api/http_get_spec.rb
  lark/spec/api/http_post_spec.rb
  lark/spec/api/http_put_spec.rb
  lark/spec/controllers/batch_controller_spec.rb
  lark/spec/controllers/record_controller_spec.rb
  lark/spec/factories/concepts.rb
  lark/spec/integration/application_spec.rb
  lark/spec/lark/record_serializer_spec.rb
  lark/spec/queries/find_by_string_property_spec.rb
  lark/spec/transactions/lark/transactions/update_authority_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

starlight: note using solr_wrapper dev config file
  starlight/README.md
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: add initial health check
  starlight/Gemfile
  starlight/Gemfile.lock
  starlight/config/initializers/okcomputer.rb
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: simplify solr config setup
  starlight/config/blacklight.yml
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: set default_contact_email
  starlight/config/initializers/spotlight_initializer.rb
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

surfliner: add docker-teardown scripts
  lark/README.md
  lark/bin/docker-teardown.sh
  starlight/README.md
  starlight/bin/docker-teardown.sh
Due: lark-code-quality, starlight-code-quality, starlight-dependency-scanning, lark-dependency-scanning, lark-lint, lark-unit-tests, starlight-lint, starlight-test

starlight: remove SMS, Cite, Search widget links
  starlight/app/controllers/catalog_controller.rb
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

lark: Add a `VERSION` constant
  lark/app/models/service_description.rb
  lark/lib/lark.rb
  lark/lib/lark/version.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Correct the indent spaces issue in agent.yml.
  lark/model/agents.yml
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Generate the Agent model from structure data in lark/model/agents.yml.
  lark/app/models/agent.rb
  lark/app/models/schema/agent.rb
  lark/spec/models/agent_spec.rb
  lark/spec/models/schema/agent_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

lark: Document the healthcheck endpoint
  lark/README.md
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Add health check gem
  lark/Gemfile
  lark/Gemfile.lock
  lark/config.ru
  lark/config/application.rb
  lark/config/environment.rb
  lark/config/initializers/rack-healthcheck.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

lark: Use a custom indexer healthcheck
  lark/config.ru
  lark/config/application.rb
  lark/config/environment.rb
  lark/config/initializers/healthchecks.rb
  lark/config/initializers/rack-healthcheck.rb
  lark/lib/lark/health_checks/index_connection.rb
  lark/spec/api/health_check_endpoint_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

starlight: overhaul docker-compose setup
  starlight/Dockerfile
  starlight/docker/dev/docker-compose.yml
  starlight/docker/docker-entrypoint.sh
  starlight/docker/test/docker-compose.yml
Due: starlight-code-quality, starlight-dependency-scanning, starlight-build, starlight-lint, starlight-test

starlight: run chrome headless in compose
  starlight/docker/.env.docker.test
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: use selenium file_detector for remote js tests
  starlight/spec/support/capybara_selenium.rb
  starlight/spec/support/selenium_file_detector.rb
  starlight/spec/system/create_exhibit_spec.rb
  starlight/spec/system/search_spec.rb
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: clarify CMD execution in entrypoint script
  starlight/docker/docker-entrypoint.sh
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: update CI for testing
  .gitlab-ci.yml
Due: lark-ruby-build, lark-lint, lark-unit-tests, starlight-build, starlight-lint, starlight-test

lark: Refactor some shared authority logic into an abstract class
  lark/app/models/agent.rb
  lark/app/models/authority.rb
  lark/app/models/concept.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Fixed two remaining solr adapter ID warnings.
  lark/spec/lark/event_stream_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Revert "ansible: remove shibboleth.yml"
  ansible/shibboleth.yml
Due: none

ansible: add environment-variables role
  ansible/roles/environment-variables/defaults/main.yml
  ansible/roles/environment-variables/tasks/main.yml
  ansible/roles/environment-variables/templates/vars.sh.j2
  ansible/spotlight.yml
Due: none

starlight: URL encode any / in the database passwd
  ansible/roles/environment-variables/templates/vars.sh.j2
Due: none

ansible: Use geerlingguy.apache role
  ansible/roles/apache-passenger/README.md
  ansible/roles/apache-passenger/handlers/main.yml
  ansible/roles/apache-passenger/meta/main.yml
  ansible/roles/apache-passenger/tasks/main.yml
  ansible/roles/apache-passenger/vars/RedHat.yml
  ansible/roles/requirements.yml
  ansible/shibboleth.yml
Due: none

ansible: update fstab default hash
  ansible/roles/fstab/defaults/main.yml
  ansible/roles/fstab/tasks/fstab.yml
Due: none

ansible: Add apache-passenger role
  ansible/roles/apache-passenger/README.md
  ansible/roles/apache-passenger/handlers/main.yml
  ansible/roles/apache-passenger/meta/main.yml
  ansible/roles/apache-passenger/tasks/main.yml
  ansible/roles/apache-passenger/vars/RedHat.yml
Due: none

Add shibboleth role
  ansible/roles/requirements.yml
Due: none

ansible: separate shibboleth from main playbook
  ansible/roles/shibboleth-metadata/tasks/main.yml
  ansible/shibboleth.yml
  ansible/spotlight.yml
Due: none

ansible: set `become` at the task level
  ansible/roles/solr/tasks/install.yml
  ansible/roles/solr/tasks/prerequisites.yml
  ansible/spotlight.yml
Due: none

ansible: fix REDIS_URL
  ansible/roles/environment-variables/templates/vars.sh.j2
Due: none

ansible: add role to mount binary volumes with fstab
  ansible/roles/fstab/defaults/main.yml
  ansible/roles/fstab/tasks/fstab.yml
  ansible/roles/fstab/tasks/main.yml
  ansible/roles/fstab/tasks/prerequisites.yml
Due: none
