Repository surfliner/surfliner-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lark-code-quality, starlight-code-quality, starlight-dependency-scanning, lark-dependency-scanning, lark-ruby-build, lark-lint, lark-unit-tests, starlight-build, starlight-lint, starlight-test

Path conditions:
  lark-code-quality: any of: lark/**/*
  starlight-code-quality: any of: starlight/**/*
  starlight-dependency-scanning: any of: starlight/**/*
  lark-dependency-scanning: any of: lark/**/*
  lark-ruby-build: any of: .gitlab-ci.yml, lark/Dockerfile
  lark-lint: any of: .gitlab-ci.yml, .styles/**/*, lark/**/*
  lark-unit-tests: any of: .gitlab-ci.yml, Dockerfile, lark/**/*
  starlight-build: any of: .gitlab-ci.yml, starlight/Dockerfile
  starlight-lint: any of: .gitlab-ci.yml, .styles/**/*, starlight/**/*
  starlight-test: any of: .gitlab-ci.yml, Dockerfile, starlight/**/*

[lark] Move docker documentation to the development section
  lark/README.md
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

starlight: show help text in UCSB theme
  starlight/app/assets/stylesheets/application_ucsb.scss
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: temporarily allow dep scan failure
  .gitlab-ci.yml
Due: lark-ruby-build, lark-lint, lark-unit-tests, starlight-build, starlight-lint, starlight-test

starlight: update Rails to 5.2.3
  starlight/Gemfile
  starlight/Gemfile.lock
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: fix deploy for UCSB
  starlight/config/deploy/production.rb
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: unify, document Capistrano env variables
  starlight/config/deploy.rb
  starlight/config/deploy/production.rb
  starlight/doc/deploy.md
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: document how batch import handles absolute/relative paths
  starlight/README.md
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: fix deployment data in footer
  starlight/config/initializers/git_sha.rb
  starlight/doc/deploy.md
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: fix docker-compose dev environment
  starlight/.env.test
  starlight/.gitignore
  starlight/docker/.env.docker
  starlight/docker/.env.docker.test
  starlight/docker/dev/docker-compose.yml
  starlight/docker/setup.sh
  starlight/docker/test/docker-compose.yml
  starlight/spec/support/capybara_selenium.rb
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

surfliner: add solr setup check for core
  docker/solr/setup.sh
Due: none

Genralizing pointers to product specific Readme.
  README.md
Due: none

starlight: unpin pg gem
  starlight/Gemfile
  starlight/Gemfile.lock
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: fix CAP_SERVER variable
  starlight/config/deploy/production.rb
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

starlight: don't use systemd for managing Sidekiq
  starlight/config/deploy.rb
Due: starlight-code-quality, starlight-dependency-scanning, starlight-lint, starlight-test

Adding racksh gem for easy console access to Lark. Updating EVENT_LOG.md with Lark specific implementation details.
  lark/EVENT_LOG.md
  lark/Gemfile
  lark/Gemfile.lock
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Apoloigies to rubocop for forgetting to alphabetize Gemfile
  lark/Gemfile
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Fixed the failed test and added test for the missing attribute identifier.
  lark/README.md
  lark/app/models/concept.rb
  lark/app/models/schema/concept.rb
  lark/model/concept.yml
  lark/spec/api/http_get_spec.rb
  lark/spec/models/concept_spec.rb
  lark/spec/models/schema/concept_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

[lark] Refactor existing controllers to use `ApplicationController`
  lark/app/controllers/batch_controller.rb
  lark/app/controllers/concerns/record_controller_behavior.rb
  lark/app/controllers/record_controller.rb
  lark/app/controllers/search_controller.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

[lark] Rename `RootController` to `ServiceDescriptionController`
  lark/app/controllers/service_description_controller.rb
  lark/config/application.rb
  lark/spec/controllers/service_description_controller_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

[lark] Refactor GET '/' to use a controller for handling
  lark/app/controllers/application_controller.rb
  lark/app/controllers/root_controller.rb
  lark/config/application.rb
  lark/spec/api/root_spec.rb
  lark/spec/controllers/root_controller_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

[lark] Modelize the service description
  lark/app/controllers/service_description_controller.rb
  lark/app/models/service_description.rb
  lark/spec/models/service_description_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

[lark] Add service description to README API docs
  lark/README.md
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

lark: Manually require `application_controller` from other controllers
  lark/app/controllers/record_controller.rb
  lark/app/controllers/search_controller.rb
  lark/app/controllers/service_description_controller.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

[lark] Refactor controller `#response_headers` handling
  lark/app/controllers/application_controller.rb
  lark/app/controllers/concerns/record_controller_behavior.rb
  lark/app/controllers/root_controller.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

[lark] Implement a GET on the application root
  lark/config/application.rb
  lark/spec/api/root_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

[lark] Tag a `:stable` image when CI passes on `master`
  .gitlab-ci.yml
Due: lark-ruby-build, lark-lint, lark-unit-tests, starlight-build, starlight-lint, starlight-test

[lark] Add some questions to the chart
  charts/lark/0.3.0/questions.yml
  charts/lark/latest/.helmignore
  charts/lark/latest/Chart.yaml
  charts/lark/latest/app-readme.md
  charts/lark/latest/questions.yml
  charts/lark/latest/templates/NOTES.txt
  charts/lark/latest/templates/_helpers.tpl
  charts/lark/latest/templates/deployment.yaml
  charts/lark/latest/templates/ingress.yaml
  charts/lark/latest/templates/service.yaml
  charts/lark/latest/templates/tests/test-connection.yaml
  charts/lark/latest/values.yaml
Due: none

[lark] Add an initial Helm chart for lark
  .gitlab-ci.yml
  charts/lark/0.3.0/.helmignore
  charts/lark/0.3.0/Chart.yaml
  charts/lark/0.3.0/app-readme.md
  charts/lark/0.3.0/questions.yml
  charts/lark/0.3.0/templates/NOTES.txt
  charts/lark/0.3.0/templates/_helpers.tpl
  charts/lark/0.3.0/templates/deployment.yaml
  charts/lark/0.3.0/templates/ingress.yaml
  charts/lark/0.3.0/templates/service.yaml
  charts/lark/0.3.0/templates/tests/test-connection.yaml
  charts/lark/0.3.0/values.yaml
Due: lark-ruby-build, lark-lint, lark-unit-tests, starlight-build, starlight-lint, starlight-test

Adding generic Developer Setup
  README.md
Due: none

Fix failing http_post spec for invalid JSON
  lark/spec/api/http_post_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Updating Readme with latest solr info
  lark/README.md
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Reverting back to the correct status-767
  lark/spec/api/http_post_spec.rb
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Updating Event_Log with updated info on Lark's pub/sub architecture.
  lark/EVENT_LOG.md
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests

Adding documentation for racksh
  lark/README.md
Due: lark-code-quality, lark-dependency-scanning, lark-lint, lark-unit-tests
