Repository surfliner/surfliner-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lark-code-quality, starlight-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

lark-code-quality:
  stage: test
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
  - docker:stable-dind
  script:
  - setup_docker
  - cd lark
  - code_quality
  artifacts:
    reports:
      codequality: gl-code-quality-report.json

starlight-code-quality:
  stage: test
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
  - docker:stable-dind
  script:
  - setup_docker
  - cd starlight
  - code_quality
  artifacts:
    reports:
      codequality: gl-code-quality-report.json

lark-ruby-build:
  stage: build
  services:
  - name: docker:dind
  script:
  - cd lark
  - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/lark_web .
  - docker push $CI_REGISTRY_IMAGE/lark_web

lark-unit-tests:
  stage: test
  image: $CI_REGISTRY_IMAGE/lark_web
  script:
  - gem update bundler
  - cd lark && bundle && bundle exec rspec

starlight-build:
  stage: build
  services:
  - name: docker:dind
  script:
  - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
  - cd starlight
  - docker build -t $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA

starlight-test:
  image: $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA
  stage: test
  services:
  - name: solr:7.1-alpine
    alias: solr
    entrypoint:
    - docker-entrypoint.sh
    - solr-precreate
    - starlight-test
    - /opt/config
  script:
  - cd starlight && bundle exec rspec
  allow_failure: true

Add support to update authority records in batch
  lark/app/controllers/record_controller.rb
  lark/config/application.rb
  lark/lib/lark/record_parsers/json_parser.rb
  lark/spec/api/http_put_spec.rb
Due: lark-code-quality, lark-unit-tests

Refactor codes to add batch controller.
  lark/app/controllers/base_controller.rb
  lark/app/controllers/batch_controller.rb
  lark/app/controllers/record_controller.rb
  lark/spec/controllers/batch_controller_spec.rb
Due: lark-code-quality, lark-unit-tests

Refactor codes for the record controller base.
  lark/app/controllers/batch_controller.rb
  lark/app/controllers/concerns/record_controller_behavior.rb
  lark/app/controllers/record_controller.rb
Due: lark-code-quality, lark-unit-tests

Update documentation for batch controller and controller base module.
  lark/app/controllers/batch_controller.rb
  lark/app/controllers/concerns/record_controller_behavior.rb
Due: lark-code-quality, lark-unit-tests

Moved adapter to constructor.
  lark/app/controllers/batch_controller.rb
Due: lark-code-quality, lark-unit-tests

Change to use POST for batch update with BatchController.
  lark/config/application.rb
  lark/spec/api/http_post_spec.rb
  lark/spec/api/http_put_spec.rb
Due: lark-code-quality, lark-unit-tests

Fixed failed test after rebase with master.
  lark/spec/api/http_put_spec.rb
Due: lark-code-quality, lark-unit-tests

surfliner: support capistrano-based sitemap creation
  starlight/Capfile
  starlight/config/deploy.rb
  starlight/config/deploy/production.rb
  starlight/config/secrets.yml.template
  starlight/config/sitemap.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: full localhost path for sitemap default
  starlight/config/secrets.yml.template
Due: starlight-code-quality, starlight-build, starlight-test

Surfliner: Fix Code Quality - #67
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: restore DATABASE_AUTH option for Devise authentication
  starlight/app/models/user.rb
  starlight/config/initializers/devise.rb
  starlight/config/routes.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: Set environment variables for CI's Solr image
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

lark: Restrict rsolr version
  .gitlab-ci.yml
  docker/solr/setup.sh
  lark/.env
  lark/.env.test
  lark/Dockerfile
  lark/Gemfile
  lark/Gemfile.lock
  lark/README.md
  lark/bin/bundle
  lark/bin/docker-build.sh
  lark/bin/docker-spec.sh
  lark/bin/docker-up.sh
  lark/config/environment.rb
  lark/docker/dev/docker-compose.yml
  lark/docker/test/docker-compose.yml
  lark/solr/config/_rest_managed.json
  lark/solr/config/admin-extra.html
  lark/solr/config/elevate.xml
  lark/solr/config/mapping-ISOLatin1Accent.txt
  lark/solr/config/protwords.txt
  lark/solr/config/schema.xml
  lark/solr/config/scripts.conf
  lark/solr/config/solrconfig.xml
  lark/solr/config/spellings.txt
  lark/solr/config/stopwords.txt
  lark/solr/config/stopwords_en.txt
  lark/solr/config/synonyms.txt
  lark/solr/config/xslt/example.xsl
  lark/solr/config/xslt/example_atom.xsl
  lark/solr/config/xslt/example_rss.xsl
  lark/solr/config/xslt/luke.xsl
  lark/solr/sample_solr_documents.yml
  lark/spec/lark_spec.rb
Due: lark-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

lark: Remove trailing whitespace from concept.yml
  lark/model/concept.yml
Due: lark-code-quality, lark-unit-tests

Added identifier to concept.yml
  lark/model/concept.yml
Due: lark-code-quality, lark-unit-tests

starlight: install imagemagick for Docker image
  starlight/Dockerfile
Due: starlight-code-quality, starlight-build, starlight-test

starlight: don't use database auth in CI
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: have capybara find selenium container
  starlight/spec/support/capybara_selenium.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: use Sidekiq as ActiveJob adapter in production
  starlight/Gemfile
  starlight/Gemfile.lock
  starlight/config/application.rb
  starlight/config/environments/development.rb
  starlight/config/environments/production.rb
  starlight/config/environments/test.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: have Capistrano manage Sidekiq
  starlight/Capfile
  starlight/Gemfile
  starlight/Gemfile.lock
Due: starlight-code-quality, starlight-build, starlight-test

starlight: add route for Sidekiq web UI
  starlight/config/routes.rb
Due: starlight-code-quality, starlight-build, starlight-test

Surfliner: Fix dependency scanning - #68
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

Normalized JSON output for authority records
  lark/README.md
  lark/app/models/concept.rb
  lark/lib/lark/record_serializer.rb
  lark/spec/api/http_get_spec.rb
  lark/spec/api/http_post_spec.rb
  lark/spec/api/http_put_spec.rb
  lark/spec/lark/record_serializer_spec.rb
Due: lark-code-quality, lark-unit-tests

surfliner: Normalize line endings to CRLF for text files
  .gitattributes
Due: none

surfliner: add google analytics support
  starlight/README.md
  starlight/config/initializers/analytics.rb
  starlight/config/secrets.yml.template
Due: starlight-code-quality, starlight-build, starlight-test

Update error handling using the Lark::RequestError infrastructure
  lark/app/controllers/record_controller.rb
  lark/lib/lark.rb
  lark/lib/lark/record_parsers/json_parser.rb
Due: lark-code-quality, lark-unit-tests

Add error handling for badly formed JSON request
  lark/app/controllers/record_controller.rb
  lark/spec/api/http_post_spec.rb
Due: lark-code-quality, lark-unit-tests

surfliner: Don't allow failure code quality and dependency checks
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: remove CLI importer
  starlight/bin/import
  starlight/lib/importer.rb
  starlight/lib/importer/cli.rb
  starlight/lib/importer/exhibit.rb
  starlight/lib/parse.rb
Due: starlight-code-quality, starlight-build, starlight-test

surfliner: Update README.md to remove March 8 exception to sprint review schedule
  README.md
Due: none

ansible: remove UCSB-specific references
  ansible/roles/spotlight/defaults/main.yml
  ansible/roles/starlight/defaults/main.yml
  ansible/roles/starlight/tasks/main.yml
  ansible/roles/starlight/templates/secrets.yml.j2
  ansible/spotlight.yml
Due: none

starlight: add staging environment
  starlight/config/blacklight.yml
  starlight/config/cable.yml
  starlight/config/database.yml
  starlight/config/deploy.rb
  starlight/config/deploy/staging.rb
  starlight/config/environments/staging.rb
  starlight/config/secrets.yml.template
  starlight/config/smtp.yml
Due: starlight-code-quality, starlight-build, starlight-test

starlight: do not enforce encrypted secrets usage. not using
  starlight/config/environments/production.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: rename application module to Starlight
  starlight/config/application.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: remove proxy comments in cap deploy
  starlight/config/deploy/production.rb
  starlight/config/deploy/staging.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: Upgrade `bootstrap-sass` to 3.4.1
  starlight/Gemfile.lock
Due: starlight-code-quality, starlight-build, starlight-test

Surfliner: Update README.md to include standing Lark meetings.
  README.md
Due: none

surfliner: Don't enforce EOL with rubocop; defer to .gitattributes
  .styles/rubocop_surfliner.yml
Due: none

lark: add initial base agent model
  lark/model/agents.yml
Due: lark-code-quality, lark-unit-tests

starlight: use pg for CI testing
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

Path conditions:
  lark-code-quality: any of: lark/**/*
  starlight-code-quality: any of: starlight/**/*
  lark-ruby-build: any of: .gitlab-ci.yml, lark/Dockerfile
  lark-unit-tests: any of: .gitlab-ci.yml, Dockerfile, lark/**/*
  starlight-build: any of: .gitlab-ci.yml, Dockerfile, starlight/**/*
  starlight-test: any of: .gitlab-ci.yml, Dockerfile, starlight/**/*
