Repository surfliner/surfliner-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lark-code-quality, starlight-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

.gitlab-ci.yml:

image: $CI_REGISTRY_IMAGE/builder

stages:
  - prebuild
  - build
  - test

variables:
  DOCKER_DRIVER: overlay

rebuild-base:
  stage: prebuild
  services:
    - name: docker:dind
  script:
    - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/builder .
    - docker push $CI_REGISTRY_IMAGE/builder
  when: manual

lark-code-quality:
  stage: test
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
    - docker:stable-dind
  script:
    - setup_docker
    - cd lark
    - code_quality
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
  only:
    changes:
      - lark/**/*
  except:
    variables:
      - $CODE_QUALITY_DISABLED

starlight-code-quality:
  stage: test
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
    - docker:stable-dind
  script:
    - setup_docker
    - cd starlight
    - code_quality
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
  only:
    changes:
      - starlight/**/*
  except:
    variables:
      - $CODE_QUALITY_DISABLED

lark-ruby-build:
  stage: build
  services:
    - name: docker:dind
  script:
    - cd lark
    - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/lark_web .
    - docker push $CI_REGISTRY_IMAGE/lark_web
  only:
    changes:
      - .gitlab-ci.yml
      - lark/Dockerfile

lark-unit-tests:
  stage: test
  image: $CI_REGISTRY_IMAGE/lark_web
  script:
    - gem update bundler
    - cd lark && bundle && bundle exec rspec
  only:
    changes:
      - .gitlab-ci.yml
      - Dockerfile
      - lark/**/*

starlight-build:
  stage: build
  services:
    - name: docker:dind
  script:
    - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
    - cd starlight
    - docker build -t $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA
  only:
    changes:
      - .gitlab-ci.yml
      - Dockerfile
      - starlight/**/*

starlight-test:
  image: $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA
  stage: test
  services:
    - name: solr:7.1-alpine
      alias: solr
      entrypoint: ["docker-entrypoint.sh", "solr-precreate", "starlight-test", "/opt/config"]
  script:
    - cd starlight && bundle exec rspec
  allow_failure: true
  only:
    changes:
      - .gitlab-ci.yml
      - Dockerfile
      - starlight/**/*

# ---------------------------------------------------------------------------

.auto_devops: &auto_devops |
  # helper functions for CI tasks
  [[ "$TRACE" ]] && set -x
  # Extract "MAJOR.MINOR" from CI_SERVER_VERSION and generate "MAJOR-MINOR-stable" for Security Products
  export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')

  function setup_docker() {
    if ! docker info &>/dev/null; then
      if [ -z "$DOCKER_HOST" ]; then
        export DOCKER_HOST='tcp://localhost:2375'
      fi
    fi
  }

  function code_quality() {
    docker run --env SOURCE_CODE="$PWD" \
               --volume "$PWD":/code \
               --volume /var/run/docker.sock:/var/run/docker.sock \
               "registry.gitlab.com/gitlab-org/security-products/codequality:$SP_VERSION" /code
  }

before_script:
  - *auto_devops

starlight: fix i18n initializer for DB failure
  starlight/config/initializers/translation.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: update spotlight to 2.4.1
  starlight/Gemfile.lock
Due: starlight-code-quality, starlight-build, starlight-test

starlight: manifest url in search spec is dynamic
  starlight/spec/system/search_spec.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: remove IMPORT_DIR, use BINARY_ROOT instead
  starlight/README.md
  starlight/config/initializers/add_uploads_from_csv.rb
  starlight/spec/jobs/spotlight/add_uploads_from_csv_spec.rb
  starlight/spec/system/search_spec.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: Run RuboCop in `lint` stage for Starlight CI
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: Run lint stage when changing styles or CI config
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: do not allow test failure in CI anymore
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: support full customization of solr in production
  starlight/config/blacklight.yml
Due: starlight-code-quality, starlight-build, starlight-test

ansible: provision starlight servers with redis+sidekiq
  ansible/roles/starlight/tasks/main.yml
  ansible/roles/starlight/tasks/secrets.yml
  ansible/roles/starlight/tasks/sidekiq.yml
  ansible/roles/starlight/templates/sidekiq.service.j2
  starlight/config/deploy.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: remove cli docs from README
  starlight/README.md
Due: starlight-code-quality, starlight-build, starlight-test

starlight: document current environment variables
  starlight/README.md
  starlight/doc/deploy.md
Due: starlight-code-quality, starlight-build, starlight-test

starlight: spelling in readme intro
  starlight/README.md
Due: starlight-code-quality, starlight-build, starlight-test

starlight: make env vars table more readable
  starlight/doc/deploy.md
Due: starlight-code-quality, starlight-build, starlight-test

Add documentation for HTTP POST cases
  lark/README.md
Due: lark-code-quality, lark-unit-tests

FIx typo
  lark/model/agents.yml
  lark/model/concept.yml
Due: lark-code-quality, lark-unit-tests

surfliner: don't always rebuild docker images
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: update rails to 5.2.2.1
  starlight/Gemfile.lock
Due: starlight-code-quality, starlight-build, starlight-test

surfliner: Use Solr 7.1 project-wide
  docker/solr/Dockerfile
Due: none

surfliner: Upgrade Solr to 7.7
  ansible/roles/solr/defaults/main.yml
  docker/solr/Dockerfile
Due: none

starlight: fix CI solr configuration
  starlight/lib/tasks/ci.rake
Due: starlight-code-quality, starlight-build, starlight-test

starlight: add initial dotenv files
  starlight/.env.development
  starlight/.env.test
Due: starlight-code-quality, starlight-build, starlight-test

starlight: remove secrets.yml template and refs
  .gitlab-ci.yml
  starlight/README.md
  starlight/config/deploy.rb
  starlight/config/secrets.yml.template
Due: starlight-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: remove ldap devise integration
  starlight/config/initializers/ldap_authenticatable.rb
  starlight/config/ldap.yml
Due: starlight-code-quality, starlight-build, starlight-test

starlight: align test and dev solr configurations
  starlight/config/solr_wrapper_dev.yml
  starlight/config/solr_wrapper_test.yml
Due: starlight-code-quality, starlight-build, starlight-test

starlight: document additional env vars
  starlight/doc/deploy.md
Due: starlight-code-quality, starlight-build, starlight-test

starlight: switch to using ENV for config lookup
  starlight/app/models/user.rb
  starlight/config/application.rb
  starlight/config/blacklight.yml
  starlight/config/cable.yml
  starlight/config/database.yml
  starlight/config/deploy/production.rb
  starlight/config/deploy/staging.rb
  starlight/config/environments/development.rb
  starlight/config/environments/test.rb
  starlight/config/initializers/analytics.rb
  starlight/config/initializers/devise.rb
  starlight/config/sitemap.rb
  starlight/config/smtp.yml
Due: starlight-code-quality, starlight-build, starlight-test

starlight: reference DATABASE_URL in db yaml
  starlight/config/database.yml
Due: starlight-code-quality, starlight-build, starlight-test

starlight: don't fail if GA isn't setup
  starlight/config/initializers/analytics.rb
Due: starlight-code-quality, starlight-build, starlight-test

ansible: update Solr SHA256
  ansible/roles/solr/defaults/main.yml
Due: none

starlight: pin solr_wrapper to 7.7.1
  starlight/config/solr_wrapper_dev.yml
  starlight/config/solr_wrapper_test.yml
  starlight/lib/tasks/ci.rake
Due: starlight-code-quality, starlight-build, starlight-test

lark: Index new data on `:change_properties` events
  lark/app/listeners/index_listener.rb
  lark/app/transactions/lark/transactions/create_authority.rb
  lark/app/transactions/lark/transactions/update_authority.rb
  lark/lib/lark/indexer.rb
  lark/spec/api/http_post_spec.rb
  lark/spec/controllers/record_controller_spec.rb
  lark/spec/integration/application_spec.rb
  lark/spec/lark/indexer_spec.rb
  lark/spec/transactions/lark/transactions/create_authority_spec.rb
Due: lark-code-quality, lark-unit-tests

starlight: document required env vars
  starlight/doc/deploy.md
Due: starlight-code-quality, starlight-build, starlight-test

starlight: flash alert, skip object when file doesn't exist
  starlight/.rubocop_todo.yml
  starlight/app/views/_flash_msg.html.erb
  starlight/config/import.yml.template
  starlight/config/initializers/add_uploads_from_csv.rb
  starlight/config/initializers/upload_controller_file_checking.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: remove import.yml
  .gitlab-ci.yml
  starlight/.gitignore
  starlight/README.md
  starlight/config/deploy.rb
  starlight/config/import.yml.template
  starlight/config/initializers/config.rb
Due: starlight-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

Return status 404 while updating non-existing records instead of 500 with error stacktrace.
  lark/app/listeners/index_listener.rb
  lark/lib/lark.rb
  lark/spec/api/http_post_spec.rb
  lark/spec/api/http_put_spec.rb
  lark/spec/controllers/batch_controller_spec.rb
Due: lark-code-quality, lark-unit-tests

starlight: disable csrf check :developer strategy
  starlight/app/controllers/users/omniauth_callbacks_controller.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: consolidate omniauth create callback
  starlight/app/models/user.rb
  starlight/spec/models/user_spec.rb
Due: starlight-code-quality, starlight-build, starlight-test

Add documentation for HTTP GET
  lark/README.md
Due: lark-code-quality, lark-unit-tests

Adding generic Developer Setup
  README.md
Due: none
