Repository surfliner/surfliner-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lark-code-quality, starlight-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

.gitlab-ci.yml:

image: $CI_REGISTRY_IMAGE/builder

stages:
  - prebuild
  - build
  - test

variables:
  DOCKER_DRIVER: overlay

rebuild-base:
  stage: prebuild
  services:
    - name: docker:dind
  script:
    - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/builder .
    - docker push $CI_REGISTRY_IMAGE/builder
  when: manual

lark-code-quality:
  stage: test
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
    - docker:stable-dind
  script:
    - setup_docker
    - cd lark
    - code_quality
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
  only:
    changes:
      - lark/**/*
  except:
    variables:
      - $CODE_QUALITY_DISABLED

starlight-code-quality:
  stage: test
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
    - docker:stable-dind
  script:
    - setup_docker
    - cd starlight
    - code_quality
  artifacts:
    reports:
      codequality: gl-code-quality-report.json
  only:
    changes:
      - starlight/**/*
  except:
    variables:
      - $CODE_QUALITY_DISABLED

lark-ruby-build:
  stage: build
  services:
    - name: docker:dind
  script:
    - cd lark
    - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/lark_web .
    - docker push $CI_REGISTRY_IMAGE/lark_web
  only:
    changes:
      - .gitlab-ci.yml
      - lark/Dockerfile

lark-unit-tests:
  stage: test
  image: $CI_REGISTRY_IMAGE/lark_web
  script:
    - gem update bundler
    - cd lark && bundle && bundle exec rspec
  only:
    changes:
      - .gitlab-ci.yml
      - Dockerfile
      - lark/**/*

starlight-build:
  stage: build
  services:
    - name: docker:dind
  script:
    - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
    - cd starlight
    - docker build -t $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA .
    - docker push $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA
  only:
    changes:
      - .gitlab-ci.yml
      - Dockerfile
      - starlight/**/*

starlight-test:
  image: $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA
  stage: test
  services:
    - name: solr:7.1-alpine
      alias: solr
      entrypoint: ["docker-entrypoint.sh", "solr-precreate", "starlight-test", "/opt/config"]
  script:
    - cd starlight && bundle exec rspec
  allow_failure: true
  only:
    changes:
      - .gitlab-ci.yml
      - Dockerfile
      - starlight/**/*

# ---------------------------------------------------------------------------

.auto_devops: &auto_devops |
  # helper functions for CI tasks
  [[ "$TRACE" ]] && set -x
  # Extract "MAJOR.MINOR" from CI_SERVER_VERSION and generate "MAJOR-MINOR-stable" for Security Products
  export SP_VERSION=$(echo "$CI_SERVER_VERSION" | sed 's/^\([0-9]*\)\.\([0-9]*\).*/\1-\2-stable/')

  function setup_docker() {
    if ! docker info &>/dev/null; then
      if [ -z "$DOCKER_HOST" ]; then
        export DOCKER_HOST='tcp://localhost:2375'
      fi
    fi
  }

  function code_quality() {
    docker run --env SOURCE_CODE="$PWD" \
               --volume "$PWD":/code \
               --volume /var/run/docker.sock:/var/run/docker.sock \
               "registry.gitlab.com/gitlab-org/security-products/codequality:$SP_VERSION" /code
  }

before_script:
  - *auto_devops

starlight: Use Surfliner's RuboCop config as a base for starlight
  starlight/.rubocop.yml
Due: starlight-code-quality, starlight-build, starlight-test

starlight: update deploy configuration for monorepo
  starlight/config/deploy.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: revert to local db auth
  starlight/config/initializers/devise.rb
Due: starlight-code-quality, starlight-build, starlight-test

lark: Add id minting with UUID
  lark/Gemfile
  lark/Gemfile.lock
  lark/app/controllers/record_controller.rb
  lark/app/transactions/lark/transactions/create_authority.rb
  lark/config/application.rb
  lark/spec/api/http_post_spec.rb
  lark/spec/transactions/lark/transactions/create_authority_spec.rb
Due: lark-code-quality, lark-unit-tests

lark: Add error handling and HTTP response for unknown request bodies
  lark/app/controllers/record_controller.rb
  lark/lib/lark.rb
  lark/lib/lark/record_parser.rb
  lark/spec/api/http_post_spec.rb
  lark/spec/controllers/record_controller_spec.rb
  lark/spec/lark/record_parser_spec.rb
Due: lark-code-quality, lark-unit-tests

Added properties to concept model.
  lark/app/models/concept.rb
  lark/spec/models/concept_spec.rb
Due: lark-code-quality, lark-unit-tests

Use Valkyrie::Types::Set instead of Array.
  lark/app/models/concept.rb
Due: lark-code-quality, lark-unit-tests

surfliner: A minor correction in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

lark: Add created_at timestamp for Event model
  lark/app/models/event.rb
  lark/spec/models/event_spec.rb
Due: lark-code-quality, lark-unit-tests

lark: Update README.md with basic contributing information
  lark/README.md
Due: lark-code-quality, lark-unit-tests

lark: Expand README.md with more information and some ContentTKs
  lark/README.md
Due: lark-code-quality, lark-unit-tests

lark: Add license to README.md
  lark/README.md
Due: lark-code-quality, lark-unit-tests

lark: add an initial EVENT_LOG.md
  lark/EVENT_LOG.md
  lark/README.md
Due: lark-code-quality, lark-unit-tests

lark: Refactor response serialization to use a `RecordSerializer`
  lark/app/controllers/record_controller.rb
  lark/lib/lark.rb
  lark/lib/lark/record_parser.rb
  lark/lib/lark/record_serializer.rb
  lark/spec/api/http_post_spec.rb
  lark/spec/lark/record_serializer_spec.rb
Due: lark-code-quality, lark-unit-tests

Added integration test for PUT request and updated to use ID parameter in request.
  lark/app/controllers/record_controller.rb
  lark/app/listeners/index_listener.rb
  lark/app/models/concept.rb
  lark/app/transactions/lark/transactions/update_authority.rb
  lark/config/application.rb
  lark/lib/lark/event_stream.rb
  lark/spec/api/http_put_spec.rb
  lark/spec/controllers/record_controller_spec.rb
  lark/spec/fakes/fake_listener.rb
  lark/spec/transactions/lark/transactions/update_authority_spec.rb
Due: lark-code-quality, lark-unit-tests

lark: Add real-server integration tests
  .styles/rubocop_rspec_surfliner.yml
  lark/Gemfile
  lark/Gemfile.lock
  lark/spec/integration/application_spec.rb
Due: lark-code-quality, lark-unit-tests

lark: Refactor update authority tx to set adapter on initalize
  lark/app/controllers/record_controller.rb
  lark/app/transactions/lark/transactions/update_authority.rb
  lark/spec/transactions/lark/transactions/update_authority_spec.rb
Due: lark-code-quality, lark-unit-tests

lark: Update `Gemfile.lock`
  lark/Gemfile.lock
Due: lark-code-quality, lark-unit-tests

surfliner: Document surfliner style guide
  CONTRIBUTING.md
Due: none

starlight: Move `dotenv-rails` to `:development` / `:test` group
  starlight/Gemfile
  starlight/Gemfile.lock
Due: starlight-code-quality, starlight-build, starlight-test

starlight: document current omniauth implementation
  starlight/app/controllers/users/omniauth_callbacks_controller.rb
  starlight/app/controllers/users/sessions_controller.rb
  starlight/app/models/user.rb
Due: starlight-code-quality, starlight-build, starlight-test

surfliner: extract shib attributes to env vars/secrets.yml
  starlight/config/initializers/devise.rb
  starlight/config/secrets.yml.template
Due: starlight-code-quality, starlight-build, starlight-test

starlight: begin reworking tests for omniauth
  starlight/app/controllers/users/sessions_controller.rb
  starlight/app/models/user.rb
  starlight/config/initializers/devise.rb
  starlight/spec/factories/users.rb
  starlight/spec/jobs/spotlight/add_uploads_from_csv_spec.rb
  starlight/spec/models/user_spec.rb
  starlight/spec/rails_helper.rb
  starlight/spec/support/omniauth.rb
  starlight/spec/system/create_exhibit_spec.rb
  starlight/spec/system/pdf_display_spec.rb
  starlight/spec/system/search_spec.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: allow for developer/shibboleth auth toggling
  starlight/app/controllers/users/sessions_controller.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: override links partial to remove password change
  starlight/app/views/_user_util_links.html.erb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: set @user in omniauth controller
  starlight/app/controllers/users/omniauth_callbacks_controller.rb
  starlight/app/controllers/users/sessions_controller.rb
  starlight/config/environments/test.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: add omniauth persistence and initial callbacks
  starlight/app/controllers/users/omniauth_callbacks_controller.rb
  starlight/app/controllers/users/sessions_controller.rb
  starlight/app/models/user.rb
  starlight/config/environments/development.rb
  starlight/config/environments/production.rb
  starlight/config/environments/test.rb
  starlight/config/routes.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: install omniauth for shibboleth authentication
  starlight/Gemfile
  starlight/Gemfile.lock
  starlight/app/models/user.rb
  starlight/config/initializers/devise.rb
  starlight/db/migrate/20190301180538_add_omniauth_to_users.rb
  starlight/db/schema.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: bring back devise trackable
  starlight/app/models/user.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: omniauth specs cleanup
  starlight/app/controllers/application_controller.rb
  starlight/spec/factories/users.rb
  starlight/spec/rails_helper.rb
  starlight/spec/system/create_exhibit_spec.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: make omniauth test setup dynamic to current user
  starlight/spec/factories/users.rb
  starlight/spec/support/omniauth.rb
  starlight/spec/system/create_exhibit_spec.rb
  starlight/spec/system/pdf_display_spec.rb
  starlight/spec/system/search_spec.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: shibboleth is the provider, not omniauth
  starlight/app/models/user.rb
  starlight/spec/models/user_spec.rb
Due: starlight-code-quality, starlight-build, starlight-test

lark: Rename and document `:update` event to `:change_properties`
  lark/EVENT_LOG.md
  lark/app/transactions/lark/transactions/update_authority.rb
  lark/lib/lark/event_stream.rb
  lark/spec/fakes/fake_listener.rb
  lark/spec/transactions/lark/transactions/update_authority_spec.rb
Due: lark-code-quality, lark-unit-tests

surfliner: Update README.md with team communication information
  README.md
Due: none

surfliner: Update README.md to include project and product descriptions
  README.md
Due: none

lark: Add custom `:create` strategy for FactoryBot for Valkyrie
  lark/spec/api/http_put_spec.rb
  lark/spec/factories/concepts.rb
  lark/spec/spec_helper.rb
  lark/spec/support/build_strategies/valkyrie_create.rb
Due: lark-code-quality, lark-unit-tests

Surfliner: Update README.md to add combined March 8 sprint review
  README.md
Due: none

starlight: allow cap system user to be set via CAP_USER
  starlight/config/deploy/production.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: have deploy_to default to /opt/starlight
  starlight/config/deploy.rb
Due: starlight-code-quality, starlight-build, starlight-test

Refactor test codes for authority update and fixed the failure test.
  lark/app/controllers/record_controller.rb
  lark/spec/api/http_put_spec.rb
Due: lark-code-quality, lark-unit-tests
