Repository surfliner/surfliner-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lark-code-quality, starlight-code-quality, lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

lark-code-quality:
  stage: test
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
  - docker:stable-dind
  script:
  - setup_docker
  - cd lark
  - code_quality
  artifacts:
    reports:
      codequality: gl-code-quality-report.json

starlight-code-quality:
  stage: test
  image: docker:stable
  variables:
    DOCKER_DRIVER: overlay2
  allow_failure: true
  services:
  - docker:stable-dind
  script:
  - setup_docker
  - cd starlight
  - code_quality
  artifacts:
    reports:
      codequality: gl-code-quality-report.json

lark-ruby-build:
  stage: build
  services:
  - name: docker:dind
  script:
  - cd lark
  - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
  - docker build -t $CI_REGISTRY_IMAGE/lark_web .
  - docker push $CI_REGISTRY_IMAGE/lark_web

lark-unit-tests:
  stage: test
  image: $CI_REGISTRY_IMAGE/lark_web
  script:
  - gem update bundler
  - cd lark && bundle && bundle exec rspec

starlight-build:
  stage: build
  services:
  - name: docker:dind
  script:
  - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
  - cd starlight
  - docker build -t $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA .
  - docker push $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA

starlight-test:
  image: $CI_REGISTRY_IMAGE/starlight_web:$CI_COMMIT_SHA
  stage: test
  services:
  - name: solr:7.1-alpine
    alias: solr
    entrypoint:
    - docker-entrypoint.sh
    - solr-precreate
    - starlight-test
    - /opt/config
  script:
  - cd starlight && bundle exec rspec
  allow_failure: true

Updating Readme with latest solr info
  lark/README.md
Due: lark-code-quality, lark-unit-tests

Updating Event_Log with updated info on Lark's pub/sub architecture.
  lark/EVENT_LOG.md
Due: lark-code-quality, lark-unit-tests

Fix failing http_post spec for invalid JSON
  lark/spec/api/http_post_spec.rb
Due: lark-code-quality, lark-unit-tests

Reverting back to the correct status-767
  lark/spec/api/http_post_spec.rb
Due: lark-code-quality, lark-unit-tests

Add documentation for batch update.
  lark/README.md
Due: lark-code-quality, lark-unit-tests

starlight: add SCSS linting tools
  starlight/.rubocop.yml
  starlight/Gemfile
  starlight/Gemfile.lock
Due: starlight-code-quality, starlight-build, starlight-test

starlight: create initial UCSB theme
  starlight/app/assets/images/UCSB-logo-small.png
  starlight/app/assets/images/library-logo.png
  starlight/app/assets/images/spotlight/themes/default_preview.png
  starlight/app/assets/images/spotlight/themes/ucsb_preview.png
  starlight/app/assets/images/ucsb/ucsb-header-navy.png
  starlight/app/assets/stylesheets/application.scss
  starlight/app/assets/stylesheets/application_default.scss
  starlight/app/assets/stylesheets/application_ucsb.scss
  starlight/app/views/shared/_footer.html.erb
  starlight/config/initializers/assets.rb
  starlight/config/initializers/spotlight_initializer.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: vendor UCSB theme assets
  starlight/app/assets/stylesheets/themes/ucsb/_default-variables.scss
  starlight/app/assets/stylesheets/themes/ucsb/_overrides.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_ajax.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_alert.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_field.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_file.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_filter.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_form.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_icon.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_navbar.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_node.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_panel.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_progress-bar.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_table-drag.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_tabs.scss
  starlight/app/assets/stylesheets/themes/ucsb/component/_toolbar.scss
  starlight/app/assets/stylesheets/themes/ucsb/jquery-ui/_autocomplete.scss
  starlight/app/assets/stylesheets/themes/ucsb/style.scss
Due: starlight-code-quality, starlight-build, starlight-test

starlight: temporarily allow CI tests to fail
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: add README section for custom themes
  starlight/README.md
Due: starlight-code-quality, starlight-build, starlight-test

starlight: move UCSB theme images to assets subdirectory
  starlight/app/assets/images/themes/ucsb/ucsb-header-navy.png
  starlight/app/assets/stylesheets/application_ucsb.scss
Due: starlight-code-quality, starlight-build, starlight-test

starlight: remove external file dep in system test
  starlight/spec/fixtures/file_single_item_exhibit.csv
  starlight/spec/fixtures/images/colima-dog.jpg
  starlight/spec/fixtures/url_single_item_exhibit.csv
  starlight/spec/system/create_exhibit_spec.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: remove second Solr config directory
  starlight/solr/conf/_rest_managed.json
  starlight/solr/conf/admin-extra.html
  starlight/solr/conf/elevate.xml
  starlight/solr/conf/mapping-ISOLatin1Accent.txt
  starlight/solr/conf/protwords.txt
  starlight/solr/conf/schema.xml
  starlight/solr/conf/scripts.conf
  starlight/solr/conf/solrconfig.xml
  starlight/solr/conf/spellings.txt
  starlight/solr/conf/stopwords.txt
  starlight/solr/conf/stopwords_en.txt
  starlight/solr/conf/synonyms.txt
  starlight/solr/conf/xslt/example.xsl
  starlight/solr/conf/xslt/example_atom.xsl
  starlight/solr/conf/xslt/example_rss.xsl
  starlight/solr/conf/xslt/luke.xsl
Due: starlight-code-quality, starlight-build, starlight-test

starlight: remove Active Directory from log in view
  starlight/app/views/devise/sessions/new.html.erb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: extend capybara timeout setting for CI
  starlight/spec/support/capybara_selenium.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: limit resource usage for selenium
  starlight/spec/support/capybara_selenium.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: run headless chrome container
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

starlight: inc selenium timeout in capybara driver
  starlight/spec/support/capybara_selenium.rb
Due: starlight-code-quality, starlight-build, starlight-test

starlight: remove temporary CI failure exception
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

Readme update
  README.md
Due: none

Basic term search with pref_label and alternate_label.
  lark/README.md
  lark/app/controllers/search_controller.rb
  lark/app/queries/find_by_string_property.rb
  lark/config/application.rb
  lark/config/environment.rb
  lark/spec/api/http_get_spec.rb
  lark/spec/controllers/search_controller_spec.rb
  lark/spec/queries/find_by_string_property_spec.rb
Due: lark-code-quality, lark-unit-tests

Add documentation for authority update.
  lark/README.md
Due: lark-code-quality, lark-unit-tests

[lark] Add a very basic connection and test to the Lark client
  lark-client/lark-client.gemspec
  lark-client/lib/lark/client/connection.rb
  lark-client/spec/lark/client/connection_spec.rb
Due: none

[lark] Add a Lark client gem
  lark-client/.gitignore
  lark-client/.rubocop.yml
  lark-client/Gemfile
  lark-client/VERSION
  lark-client/lark-client.gemspec
  lark-client/lib/lark/client.rb
Due: none

[lark] Add a simple Authority model to the client gem
  lark-client/Gemfile
  lark-client/lark-client.gemspec
  lark-client/lib/lark/client/authority.rb
  lark-client/spec/lark/client/authority_spec.rb
  lark-client/spec/spec_helper.rb
Due: none

[lark] Add a client lint CI job
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

[lark] Add a CI job for the client
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

[lark] Setup an integration step for the lark client
  .gitlab-ci.yml
Due: lark-ruby-build, lark-unit-tests, starlight-build, starlight-test

[lark] Add a client README.md
  lark-client/README.md
Due: none

[lark] Update `dry-struct`
  lark-client/lark-client.gemspec
Due: none

Adding generic Developer Setup
  README.md
Due: none

Remove redundant info
  README.md
Due: none

[lark] Use CMD instead of ENTRYPOINT for starting the server
  lark/Dockerfile
Due: lark-code-quality, lark-ruby-build, lark-unit-tests

[lark] Document access on port 5000
  lark/README.md
Due: lark-code-quality, lark-unit-tests

[lark] Expose lark on port 5000 in development
  lark/Dockerfile
  lark/docker/dev/docker-compose.yml
Due: lark-code-quality, lark-ruby-build, lark-unit-tests

[lark] Move docker documentation to the development section
  lark/README.md
Due: lark-code-quality, lark-unit-tests

Path conditions:
  lark-code-quality: any of: lark/**/*
  starlight-code-quality: any of: starlight/**/*
  lark-ruby-build: any of: .gitlab-ci.yml, lark/Dockerfile
  lark-unit-tests: any of: .gitlab-ci.yml, Dockerfile, lark/**/*
  starlight-build: any of: .gitlab-ci.yml, Dockerfile, starlight/**/*
  starlight-test: any of: .gitlab-ci.yml, Dockerfile, starlight/**/*
