Repository surfliner/surfliner-mirror: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lark-unit-tests, starlight-build, starlight-test

lark-unit-tests:
  stage: test
  script:
  - cd lark && bundle exec rspec

starlight-build:
  stage: build
  services:
  - name: docker:dind
  script:
  - docker login -u "gitlab-ci-token" -p "$CI_JOB_TOKEN" $CI_REGISTRY
  - cd starlight
  - ./bin/docker-build.sh -e test
  - docker tag test_web registry.gitlab.com/surfliner/surfliner/starlight_web:$CI_COMMIT_SHA
  ...

starlight-test:
  image: registry.gitlab.com/surfliner/surfliner/starlight_web:$CI_COMMIT_SHA
  stage: test
  services:
  - name: solr:7.1-alpine
    alias: solr
    entrypoint:
    - docker-entrypoint.sh
    - solr-precreate
    - starlight-test
    - /opt/config
  script:
  - cd starlight && bundle exec rspec
  allow_failure: true

Setup Lark CI
  .gitlab-ci.yml
Due: lark-unit-tests, starlight-build, starlight-test

[starlight] move render_type logic to ApplicationHelper
  starlight/app/helpers/application_helper.rb
  starlight/app/views/catalog/_media_default.html.erb
Due: starlight-build, starlight-test

[starlight] add test for embedded PDF display
  starlight/spec/features/pdf_display_spec.rb
  starlight/spec/fixtures/blank.pdf
Due: starlight-build, starlight-test

[starlight] remove unused data import template
  starlight/lib/importer/data.json.erb
Due: starlight-build, starlight-test

surfliner: add code quality check to CI
  .gitlab-ci.yml
Due: lark-unit-tests, starlight-build, starlight-test

surfliner: link to UC principles of community
  CONTRIBUTING.md
Due: none

lark: Configure valkyrie to use the :memory adapter for index
  lark/Gemfile
  lark/Gemfile.lock
  lark/config/application.rb
  lark/config/environment.rb
  lark/lib/lark.rb
  lark/spec/lark_spec.rb
Due: lark-unit-tests

lark: Create the beginnings of a controller
  lark/Gemfile
  lark/Gemfile.lock
  lark/app/controllers/record_controller.rb
  lark/config/application.rb
  lark/spec/api/http_get_spec.rb
  lark/spec/controllers/record_controller_spec.rb
Due: lark-unit-tests

lark: Add a valkyrie dependency
  lark/Gemfile
  lark/Gemfile.lock
  lark/config/application.rb
Due: lark-unit-tests

lark: Make a working JSON response for Concept GET
  lark/app/controllers/record_controller.rb
Due: lark-unit-tests

lark: Add a custom ruby build for lark
  .gitlab-ci.yml
  lark/Dockerfile
Due: lark-unit-tests, starlight-build, starlight-test

lark: Add a `Concept` model
  lark/app/controllers/record_controller.rb
  lark/app/models/concept.rb
  lark/config/application.rb
  lark/spec/api/http_get_spec.rb
  lark/spec/controllers/record_controller_spec.rb
  lark/spec/lark_spec.rb
  lark/spec/models/concept_spec.rb
Due: lark-unit-tests

lark: Use Dry::System for autoloading
  lark/Gemfile
  lark/Gemfile.lock
  lark/config/application.rb
  lark/lib/lark.rb
Due: lark-unit-tests

lark: Support authority record creation with POST
  lark/app/controllers/record_controller.rb
  lark/config/application.rb
  lark/spec/api/http_post_spec.rb
Due: lark-unit-tests

lark: Finish refactor of `RecordController#call` to `#show`
  lark/app/controllers/record_controller.rb
  lark/config/application.rb
  lark/spec/controllers/record_controller_spec.rb
Due: lark-unit-tests

surfliner: add CODEOWNERS file
  .gitlab/CODEOWNERS
Due: none

[starlight] keep solr_wrapper files in tmp
  starlight/.solr_wrapper.yml
Due: starlight-build, starlight-test

[starlight] AddUploadsFromCsv: prepend binary_root to relative paths
  starlight/config/initializers/add_uploads_from_csv.rb
Due: starlight-build, starlight-test

[starlight] move CONFIG const to initializers
  starlight/config/initializers/config.rb
  starlight/lib/parse.rb
Due: starlight-build, starlight-test

surfliner: add registry_login() for CI
  .gitlab-ci.yml
Due: lark-unit-tests, starlight-build, starlight-test

surfiner: add dependency scanning to CI
  .gitlab-ci.yml
Due: lark-unit-tests, starlight-build, starlight-test

surfliner: add default entry to CODEOWNERS
  .gitlab/CODEOWNERS
Due: none

lark: add shotgun gem so that code can automatic reloaded for rack app.
  lark/Gemfile
  lark/Gemfile.lock
  lark/README.md
Due: lark-unit-tests

surfliner: add shared solr image to use as service
  .gitlab-ci.yml
  docker/base/Dockerfile
  docker/solr/Dockerfile
  docker/solr/setup.sh
Due: lark-unit-tests, starlight-build, starlight-test

spotlight: don't hardcode path to rbenv
  ansible/roles/spotlight/tasks/prerequisites.yml
Due: none

add geniza-specific secrets.yml override
  ansible/roles/geniza/defaults/main.yml
  ansible/roles/geniza/tasks/main.yml
  ansible/roles/geniza/templates/secrets.yml.j2
  ansible/spotlight.yml
  ansible/vault/spotlight.yml
Due: none

add smtp_host to vaultfile
  ansible/spotlight.yml
  ansible/vault/spotlight.yml
Due: none

update solr to 7.6.0
  ansible/roles/solr/defaults/main.yml
Due: none

solr: reload daemons before starting solr
  ansible/roles/solr/tasks/install.yml
Due: none

spotlight: install LTS node, yarn
  ansible/roles/spotlight/defaults/main.yml
  ansible/roles/spotlight/tasks/prerequisites.yml
Due: none

nginx-passenger: don't depend on global become
  ansible/roles/nginx-passenger/tasks/prerequisites.yml
Due: none

add spotlight and nginx-passenger roles
  ansible/.gitignore
  ansible/README.md
  ansible/roles/nginx-passenger/defaults/main.yml
  ansible/roles/nginx-passenger/files/nginx.service
  ansible/roles/nginx-passenger/tasks/main.yml
  ansible/roles/nginx-passenger/tasks/passenger.yml
  ansible/roles/nginx-passenger/tasks/prerequisites.yml
  ansible/roles/requirements.yml
  ansible/roles/spotlight/defaults/main.yml
  ansible/roles/spotlight/tasks/main.yml
  ansible/roles/spotlight/tasks/prerequisites.yml
  ansible/roles/spotlight/tasks/rails.yml
  ansible/roles/spotlight/templates/rails-logs.conf.j2
  ansible/roles/spotlight/templates/secrets.yml.j2
  ansible/roles/vivolight/files/schema.xml
  ansible/roles/vivolight/files/searchIndexerConfigurationVitro.n3
  ansible/spotlight.yml
  ansible/vivolight.yml
Due: none

fix ssh user/group
  ansible/spotlight.yml
Due: none

add vaultfile
  ansible/spotlight.yml
  ansible/vault/spotlight.yml
Due: none

fix ownership for rbenv
  ansible/spotlight.yml
Due: none

fix paths for rbenv
  ansible/roles/nginx-passenger/tasks/passenger.yml
  ansible/roles/spotlight/tasks/prerequisites.yml
  ansible/spotlight.yml
Due: none

untabify
  ansible/roles/vivolight/files/searchIndexerConfigurationVitro.n3
Due: none

get the vivo configs into a git repo
  ansible/.gitignore
  ansible/README.md
  ansible/inventory
  ansible/roles/requirements.yml
  ansible/roles/vivolight/files/schema.xml
  ansible/roles/vivolight/files/searchIndexerConfigurationVitro.n3
  ansible/vivolight.yml
Due: none

copy over solr role from ADRL
  ansible/roles/solr/defaults/main.yml
  ansible/roles/solr/files/schema.xml
  ansible/roles/solr/files/solrconfig.xml
  ansible/roles/solr/tasks/install.yml
  ansible/roles/solr/tasks/main.yml
  ansible/roles/solr/tasks/prerequisites.yml
Due: none

nginx-passenger: fix location of systemd service
  ansible/roles/nginx-passenger/tasks/passenger.yml
Due: none

Path conditions:
  lark-unit-tests: any of: .gitlab-ci.yml, Dockerfile, lark/**/*
  starlight-build: any of: .gitlab-ci.yml, Dockerfile, starlight/**/*
  starlight-test: any of: .gitlab-ci.yml, Dockerfile, starlight/**/*
